<!--  Don't edit anything here. Set your disqus id in _config.yml -->

<div id="comments" class="mt-5">
    <script>
        var jv_comments_config = {
        website_id: 200,
        is_open: false,
        position: 'right',
        
        };
        
        (function () {
        var d = document, s = d.createElement("script");
        s.src = "https://widget.jointcomments.com/e/embed.prod.js";
        if (/MSIE|Trident/.test(window.navigator.userAgent)) {
        s.src = "https://widget.jointcomments.com/e/embed.prodIE.js";
        }
        (d.head || d.body).appendChild(s);
        })();
        </script>
</div>

